$font-name: PressStart2P;
$font-src: url(../fonts/PressStart2P.ttf);

$body-font-size: 14px;
$body-color: whitesmoke;

$nav-background: #0B486B;

$header-min-height: 500px;

$stage-height: 630px;
$stage-background-image: url('../images/background.png');