.panel-custom1 .panel-heading {
  background: #79BD9A; }
.panel-custom1 .panel-body {
  background: #a3d6a3; }

.modal-custom1 .modal-header {
  background: #79BD9A; }
.modal-custom1 .modal-body {
  background: #a3d6a3; }
.modal-custom1 .modal-footer {
  background: #a3d6a3; }

.bg-custom1 {
  background: #3B8686; }

.bg-custom2 {
  background: #79BD9A; }

.bg-custom3 {
  background: #0B486B; }

.btn-custom1 {
  background: #79BD9A; }
  .btn-custom1:hover {
    background: #5a9f7c;
    color: whitesmoke; }
  .btn-custom1:focus {
    color: whitesmoke; }

.a-custom1 {
  color: whitesmoke !important; }
  .a-custom1:hover {
    color: #dddddd !important; }

.text-custom1 {
  color: #9e0707; }

.text-custom2 {
  color: #0B486B; }

.text-custom3 {
  color: #ccab00; }

.unfinished {
  text-decoration: line-through; }

.debug-on {
  background: #3B8686; }

.debug-mode {
  border: 2px dashed #0B486B; }

@font-face {
  font-family: PressStart2P;
  src: url(../fonts/PressStart2P.ttf); }
body {
  font-family: PressStart2P !important;
  font-size: 14px;
  color: whitesmoke !important; }
  body button {
    border-radius: 0 !important; }
    body button:focus {
      outline: none !important; }

nav {
  background: #0B486B !important;
  border-radius: 0 !important;
  border: none !important;
  margin-bottom: 0 !important; }
  nav #debug:hover {
    cursor: pointer; }

header {
  min-height: 500px; }
  header .panel, header .panel-heading {
    border-radius: 0 !important;
    border: none !important; }
  header .game-info {
    padding-left: 0;
    padding-right: 0;
    margin-top: 30px; }
    header .game-info .panel-body .row {
      margin: 20px 0; }
      header .game-info .panel-body .row .hide-input {
        display: none; }
      header .game-info .panel-body .row .pick-color {
        width: 25px;
        height: 25px;
        background: #f19cb7;
        cursor: pointer;
        box-sizing: border-box;
        margin: 0;
        display: inline-block; }
      header .game-info .panel-body .row :checked + label {
        width: 35px;
        height: 35px; }
      header .game-info .panel-body .row #color-blue-label {
        -webkit-filter: hue-rotate(250deg); }
      header .game-info .panel-body .row #color-green-label {
        -webkit-filter: hue-rotate(180deg); }
      header .game-info .panel-body .row #color-orange-label {
        -webkit-filter: hue-rotate(50deg) saturate(2); }
      header .game-info .panel-body .row #color-yellow-label {
        -webkit-filter: hue-rotate(90deg) saturate(2); }
      header .game-info .panel-body .row #color-purple-label {
        -webkit-filter: hue-rotate(300deg); }
  header #start {
    font-size: 40px; }

@keyframes animatedBackground {
  100% {
    background-position: -2310px 0; } }
@-webkit-keyframes animatedBackground {
  100% {
    background-position: -2310px 0; } }
@-moz-keyframes animatedBackground {
  100% {
    background-position: -2310px 0; } }
@-o-keyframes animatedBackground {
  100% {
    background-position: -2310px 0; } }
#game-container {
  height: 630px;
  background-image: url("../images/background.png");
  overflow: hidden;
  animation: animatedBackground 40s linear infinite;
  -webkit-animation: animatedBackground 40s linear infinite;
  -moz-animation: animatedBackground 40s linear infinite;
  -o-animation: animatedBackground 40s linear infinite; }
  #game-container .top-info {
    padding-top: 10px; }
    #game-container .top-info #lives, #game-container .top-info #time, #game-container .top-info #score {
      font-size: 18px; }
  #game-container #stage {
    height: 550px;
    position: relative; }
    #game-container #stage #player {
      width: 146px;
      height: 169px;
      position: absolute;
      bottom: 10px;
      left: 100px;
      background: url("../images/player_walk.gif") no-repeat; }
    #game-container #stage #enemy {
      width: 126px;
      height: 60px;
      position: absolute;
      bottom: 0;
      right: -126px;
      display: none;
      background: url("../images/enemy_slime.gif") no-repeat; }

#leaderboards {
  min-height: 600px; }

#footer {
  min-height: 200px; }
  #footer img {
    cursor: pointer; }

audio {
  display: none; }

/*# sourceMappingURL=index.css.map */
